body {
  background: #343745;
  color: #e4e9ff;
  font-family: 'Noto Sans', sans-serif;
  padding: 20px;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.header {
  border-bottom: 2px solid #e4e9ff;
  margin: 0 20px;
  line-height: 100%;
  font-size: 2.3rem;
  margin-left: 0;
}

.selectize-input {
  background: #343745 !important;
  color: #e4e9ff !important;
  border-color: #e4e9ff !important;
  text-align: center;;
}
.selectize-dropdown .active {
  background-color: #c4cbec;
}

#solve {
  margin-top: 20px;;
}

#solve,
#step,
#restart,
#showTiles {
  background: #343745 !important;
  color: #e4e9ff !important;
  border-color: #e4e9ff !important;
  width: 100%;
}

.selectize-input:hover,
#step:hover,
#solve:hover,
#restart:hover,
#showTiles:hover {
  background: #c4cbec !important;
  color: #343745 !important;
}

.separator {
  background-color: #e4e9ff;
  height: 2px;
  margin: 20px;
}

.selectize-input.dropdown-active::after {
  border-color: transparent transparent #e4e9ff transparent !important;
}
.selectize-input::after {
  border-color: #e4e9ff transparent transparent transparent !important;
}

.selectize-input:hover::after {
  border-color: #343745 transparent transparent transparent !important;
}
.selectize-input.dropdown-active::after {
  border-color: transparent transparent #343745 transparent !important;
}

.selectize-dropdown {
  background: #e4e9ff !important;
}

.cell-tile-entropy {
  border: 1px dashed #242630;
}

.preview-cell {
  aspect-ratio: 1;
}

.modal-content {
  background: #343745;
  border: 2px solid;
}

.socket-preview {
  font-size: 12px;
}

.checkbox .label span {
  color: white !important;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 100%;
}

.tile-preview {
  font-size: 40px;
}

.tile-details {
  height: 80px !important;
  width: 80px !important;
  border: 1px solid white;
}

.cell-details-title {
  font-size: 12px;

  text-align: center;
  align-items: center;
  line-height: 150%;
  min-height: 100px;
  display: flex;
  padding: 20px;
}

.cell-details-tiles-wrapper {
  font-size: 35px;
  display:flex;
  gap: 5px;
  flex-wrap: wrap;
}

.cell-details-tile {
  width: 24px;
  height: 24px;
  border: 1px solid;
}

.preview-grid-cell {
  height: 100%;
  width: 100%;
}

.irs-grid {
  display: none !important;
}

.irs-single {
  background-color: transparent !important;
}

.irs-line {
  background-color: #e4e9ff !important;
  border: none !important;
}

.irs--shiny .irs-bar {
  top: 25px;
  height: 8px;
  border-top: 1px solid #e4e9ff;
  border-bottom: 1px solid #e4e9ff;
  background: #222531;
}

.irs--shiny .irs-handle {
  top: 21px;
  width: 16px;
  height: 16px;
  border: 1px solid #e4e9ff;
  background-color: #222531;
  box-shadow: 1px 1px 3px rgb(255 255 255 / 30%);
  border-radius: 141px;
}

.sidebar > .form-group.shiny-input-container {
  margin: 0;
}

.irs--shiny .irs-line {
  top: 28px;
  height: 3px;
}

.irs--shiny .irs-bar {
  top: 26px;
  height: 6px;
}

.irs--shiny .irs-min, .irs--shiny .irs-max {
  top: 9px;
}